// SPDX-License-Identifier: BSD-3-Clause
/*
 * Copyright (c) 2023, The Linux Foundation. All rights reserved.
 */

#include "qcom-qsd8250.dtsi"

/ {
	model = "HTC HD2";
	compatible = "htc,leo", "qcom,qsd8250";

	chosen {
        bootargs = "earlycon=leoearlycon earlyprintk=on keep_bootcon console=efifb";

		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
	};

	reserved-memory {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;

        appsbl: reserved@0 {
			reg = <0x00000000 0x00100000>;
			no-map;
		};

        smem_mem: memory@100000 {
			reg = <0x00100000 0x00100000>;
			no-map;
		};

        uefi_mem: memory@2C000000 {
			reg = <0x2C000000 0x00200000>;
			no-map;
		};

		display_reserved: framebuffer@2a00000 {
			reg = <0x2a00000 0x000C0000>;
			no-map;
		};
	};

	pstore {
		compatible = "pstore";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		linux,ramoops {
			compatible = "ramoops";
			preserve-mode = "full";
			size = <0x00200000>; // Set the size to 0x00200000 (2MB)
			base = <0x2FE00000>; // Set the base address to 0x2FE00000
		};
	};
};